.heading1
{
    font-family: 'Open Sans',sans-serif;
    color: #262626;
    font-size: 250%;
    margin-left: 30px;
}


.heading
{
	font-family: 'Open Sans',sans-serif;
	color: #61c3d9;
    cursor: pointer;
    display: block;
    /*font-weight: bold;*/
    font-size: 18px;
	
    
}

.text
{
	font-size: :24px;
	font-family: 'Open Sans',sans-serif;
    color: gray;
	/*display: none;
	position: absolute;
	visibility: hidden;
	opacity:0;
	transition: opacity 0.5s;
	/*-webkit-transition: opacity 3s;*/
}

/*.heading:active ~.text{
    /*display: block;
    position: static;
    visibility: visible;
    opacity:1;
}

.heading:inactive ~.text{
    /*display: block;
    position: static;
    visibility: hidden;
    opacity:0;
}*/


.body{
	margin-right: 20px;
}

.heading ~ input{
  display: none; /* hide the checkboxes */
}
.heading  ~ input ~ div{
  display:none;
}
.heading ~ input:checked ~ div{
  display:block;
}